---
layout: base
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 25px">
      {%- for project in site.projects -%}
      <div style="padding: 10px; position: relative; aspect-ratio: 1; border: dashed 1px; border-color: var(--custom-mono1)">
        <h5 style="text-align: center">
          <a class="post-link" href="{{ project.url | relative_url }}">
            {{ project.title | escape }}
          </a>
        </h5>
        <div style="text-align: justify; text-justify: inter-word;">
        {{ project.description }}
        </div>
        {%- if project.repo -%}
        {% capture repo %} 
        {{- site.data.github.username -}}/{{- project.repo -}}
        {% endcapture %}
        <div style="position: absolute; bottom: 0px; width: 100%; text-align: center;">
        <a href="http://github.com/{{ repo }}">{{ repo }}</a>
        </div>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
  {%- else -%}
    <p>I'm not currently working on any projects...</p>
  {%- endif -%}

</div>
